body
{
margin:0px ;
padding: 0px;
font-family: 'segoe ui light';

}

.home
{
    height: 100vh;
   
  background-image: url(imgas/slider-01.jpg);
  background-size: cover;
  background-position:center center ;

    
}
.content 
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   background-color:rgba(9 ,9 ,9,0.8);
   height: 100vh;
   color: #fff;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    padding: 20px 60px;
   

}

 nav a
{
text-decoration: none;
margin-left: 30px;
color: #fff;
transition:all 0.5s ;

}
 nav li
{
 list-style-type: none;
}
ul
{
    display: flex;
   
}
.egg
{
    color: #ff305b;
}
nav a:hover
{
color:#ff305b;

}
.egg1
{
    font-size: 30px;
    font-weight: 900;
}
.content h1
{
font-size:80px; 
color: #ff305b;
font-weight: 900;
margin: 0 0 15px 0;
}
.content .test 
{
    font-size: 25px;
}

.content span 
{
    font-size: 30px;
}
.about
{
    
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 200px;
    margin-bottom:200px;
    
}
.info
{
  
   width: 50%;
 
   
}
.info h3
{
font-size: 40px;
font-family: 700;
}
.info p 
{
    font-size:20px; 
    border-bottom: 1px black dashed ;
    padding-bottom: 20px;
}
.about-img
{

width: 50%;
}
.info-big
{
    display: flex;
    justify-content: space-between;
}
.small span
{
    color: #7e7e7e;
}
.small .egg
{
    font-size: 16px;
 color: #333333;
 font-weight: 700;
}
.small a 
{
  text-decoration: none;  
  color: #7e7e7e;
}
.info .stick
{
    color: #ff305b;
   
}

.info .ptn
{
    border-radius: 3px;
    background-color: #ff305b;
    padding: 12px 25px;
    margin: 20px 20px 0 0 ;
    color: #fff;
    font-size: 16px;
    border: 0;
    transition: all 0.5s;
}
.info .ptn:hover
{
 background-color: red;
}

.hard
{
    width: 100%;
    position:absolute;
    overflow: hidden;
    top: 20px;
    left: 20px;
    border-radius: 5px;

}
.hard img
{
    width: 100%;
}
.hard .drape 
{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.6);
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
    
}
.hard .drape i
{
margin: 10px;
color: #fff;
font-size: 18px;

}

.hard:hover .drape
{
opacity: 1;
top: 0;

}
.twins
{
   
    width: 70%;
    position: relative;
    height: 380px;
    box-shadow:0 0 0 8px #555555 inset;
    
    border-radius: 5px;
}
.all , .our-blog
{
text-align: center;
background-color: #f1f1f1;

padding: 50px 0;
}
.all h3 , .Our-Portfolio h3 , .client h3 ,.our-blog h3
{
    font-size: 40px;
    margin: 15px 0;
    
}
.red-line
{
    background-color: #ff305b;
    width: 12%;
    height: 1px;
    margin: auto;
    position: relative;
}
.red-line::after
{
content: "";
background-color: #ff305b;
width: 50%;
height: 1px;;
position: absolute;
top: 5px;
left: 40px;
}
.red-line::before
{
content: "";
background-color: #ff305b;
width: 50%;
height: 1px;;
position: absolute;
bottom: 5px;
left: 40px;
}
.compo
{
  display: flex;  
  width: 80%;
  margin: 30px auto;

}
.compo1 h3
{
font-size: 20px;
}
.compo1:hover
{
 background-color: #fff;
 box-shadow: 0 15px 20px rgb(0 0 0 / 10%);
 border-radius: 3px;
}
.compo1
{
    padding: 30px 10px;
}
.compo1 i 
{
    font-size: 30px;
    color: #ff305b;
}
.Our-Portfolio
{
    text-align: center;
    padding: 100px 0;
}
.nav2 li 
{
    padding: 15px;

    list-style-type: none;
}
.nav2 a 
{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav2 
{
    width: 35%;
    margin: auto;
    padding: 10px 0;
 
}
.part1
{ 

  display: flex;
  
    
}


.part1 img 
{
    width:80%;
    margin: 15px  0;


}
.parent
{
    position: relative;
}
.child
{
    background-color: #333333;
    position:absolute;
    width: 80%;
    height: 90%;
    opacity: 0;
    top: 15px;
    left: 43px;
    transition: all 0.5s;
    
}
.child:hover
{
    opacity: 0.5;

}
.number
{
    background-color: #f1f1f1;
   
    padding: 50px 0;
}
.number .numbers
{
    text-align: center;
}
.number h4
{
 margin: 10px 0;
}
.number i{
    font-size: 30px;
    color: #ff305b;
}
.number2
{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    
}
.client h3
{
 text-align: center;
}
.client-info
{
    margin: 20px auto;
    display: flex;
    background-color:#f1f1f1;
     width: 60%;
     padding: 50px ;
     position: relative;
     border-radius: 10px;
}
.client img
{
    border-radius: 50%; 
    width: 140px;
    height: 140px;
    z-index: 2;
    margin-right: 30px;
   

}

.client-info::before
{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 100px solid #ff305b;
    border-left: 100px solid #ff305b;
    border-right: transparent 100px solid ;
    border-bottom: transparent 100px solid;
     border-radius: 10px;
}
.client
{
    padding: 100px 0;
}
.star
{
color:gold;
}
.pragraph i 
{
font-size: 12px;

}
.point
{
    display: flex;
    justify-content: center;
}
.point1
{
    background-color: #ff305b;
    width: 25px;
    height: 10px;
    border-radius: 5px;
}
.point2
{
    width: 10px;
    height:10px ;
    border: 1px solid #ff305b;
    margin:  0 5px;
    border-radius: 50%;
}
.our-blog .dina 
{
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    padding: 20px 100px;
}
.dina video , .dina img
{
    width: 100%;
}
 .our-blog .one 
{
   width: 31%; 
   background-color: #fff;
   text-align: start;

   
}
.our-blog .dina .one p 
{
    font-size: 10 px;

}
.our-blog .dina .one span 
{
    font-size: 15px;
}
.our-blog .dina .one i
{
font-size: 20px;
}
.our-blog .dina .one .font
{
    padding: 20px;
}
.our-blog .dina .one h4 ,.our-blog .dina .one span 
{
    font-weight: 800;
    transition: all 0.5s ;
}
.our-blog .dina .one h4:hover,.our-blog .dina .one span:hover  
{
    color: #ff305b;
    
}
.contact h3
{
  text-align: center;
 
}
form
{
width: 60%;

margin: 50px auto;
}
form .subject input
{
    width: 45%;
    margin: 30px 0;
  padding: 10px;
  border: 0;
  border: 1px solid #555;
  border-radius :5px;
}
.subject #haga
{
margin-right: 10px;
}
form .int
{
    margin-right: 20px;
}
.supject2 input
{
    width: 90%;
    margin: auto;
    border: 0;
    border: 1px solid #555;
    border-radius :5px;
    padding: 10px;
    

}
.subject3 textarea
{
width:90%;
margin: 30px 0;
border-radius: 5px;


}
.zrar
{
    padding: 10px 30px;
    background-color: #ff305b;
    color: #fff;
    border-color :transparent;
    border-radius: 3px;
    transition: all 0.5s;
    

}
.zrar:hover
{
    background-color: red;
}
footer
{

    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 50px 0;

}
footer span a
{
    color: #ff305b;
    text-decoration: none;
}
footer p 
{
    margin: 0;
}
footer i 
{
    margin: 10px;
    transition: all 0.5s ;
}
footer i:hover
{
    color: #ff305b;
}
footer span a:hover
{
    color: #ff305b;
    text-decoration: underline;
}











